<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stadium AI Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="hero">

    <div class="glass-card">

        <h1>🏟 Stadium AI Assistant</h1>

        <h2>AI Powered Smart Stadium for FIFA World Cup 2026</h2>

        <p>
            Smart Navigation • Crowd Prediction • AI Chatbot •
            Emergency Support • Live Weather
        </p>

        <a href="/dashboard">
            <button>Enter Dashboard</button>
        </a>

    </div>

</div>

</body>
</html>